.indication-register {
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: justify;
}

.indication-title-register {
  font-weight: bold;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 2rem;
  color: rgb(21, 105, 87);

}

.indication-subtitle-register {

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
}

.indication-instructions-register {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
}

.indication-instructions li {
  margin-bottom: 10px;
}

.help-link {
  color: rgb(0, 0, 0);
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: underline;
  cursor: pointer;
}

.help-link:hover {
  text-decoration: none;
}

@media screen and (min-width:500px) and (max-width:720px) {
  .indication-register {
    padding: 0.5rem;
  }

  .indication-title-register {
    font-size: 1.6rem;
  }

  .indication-subtitle-register {
    font-size: 20px;
  }

  .indication-instructions-register {
    font-size: 15px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width:400px) and (max-width:500px) {
  .indication-register {
    padding: 0.5rem;
  }

  .indication-title-register {
    font-size: 1.5rem;
  }

  .indication-subtitle-register {
    font-size: 15px;
  }

  .indication-instructions-register {
    font-size: 15px;
  }
}

@media screen and (min-width:280px) and (max-width:400px) {
  .indication-register {
    padding: 0.5rem;
  }

  .indication-title-register {
    font-size: 1.5rem;
  }

  .indication-subtitle-register {
    font-size: 15px;
  }

  .indication-instructions-register {
    font-size: 15px;
  }
}