@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


.contacto {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    width: 96%;
    justify-content: space-between;
}

.contact-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
}

.contacto:hover {
    background-color: #f1f1f1;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.contact-item .dato-card {
    flex: 1;
    overflow: hidden;
}

.contact-item .name-card {
    font-size: 18px;
    margin-bottom: 5px;
    color: #585858;
    font-weight: 700;
}

.img-profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.delete-icon {
    display: flex;
    margin-left: -40px;
}

.delete-icon:hover {
    color: red;
}

/* Media Queries */

@media screen and (min-width:1020px) and (max-width:2000px) {
    .contacto {
        width: 96%;
    }

    .contact-item {
        height: 70px;
    }

    .options-container-contacto {
        display: flex;
        margin: 0;

    }
}


@media screen and (min-width:900px) and (max-width:1020px) {
    .contacto {
        width: 90%;
    }

    .contact-item {
        height: 70px;
    }

    .contact-item .img {
        width: 30px;
        height: 30px;
    }

    .contact-item .name-card {
        font-size: 17px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .contact-item .time-card {
        font-size: 15px;
    }

    .contact-item .ultimo-mensaje {
        font-size: 12px;
    }

    .options-container-contacto {
        display: flex;
        margin: 0;
    }
}


@media screen and (min-width:800px) and (max-width:900px) {
    .contacto {
        width: 90%;
    }

    .contact-item {
        height: 70px;
    }

    .contact-item .img {
        width: 30px;
        height: 30px;
    }

    .contact-item .name-card {
        font-size: 17px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .contact-item .time-card {
        font-size: 15px;
    }

    .contact-item .ultimo-mensaje {
        font-size: 12px;
    }

    .options-container-contacto {
        display: flex;
        margin-left: 30px;
        margin: 0;
    }
}




@media screen and (min-width:700px) and (max-width:800px) {
    .contacto {
        width: 95%;
    }

    .contact-item {
        height: 70px;
    }

    .contact-item .img {
        width: 30px;
        height: 30px;
    }

    .contact-item .name-card {
        font-size: 17px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .contact-item .time-card {
        font-size: 15px;
    }

    .contact-item .ultimo-mensaje {
        font-size: 12px;
    }

    .options-container-contacto {
        display: flex;
        margin-right: 30px;

    }
}

@media screen and (min-width:600px) and (max-width:700px) {
    .contacto {
        width: 90%;
    }

    .contact-item {
        height: 70px;
    }

    .contact-item .img {
        width: 30px;
        height: 30px;
    }

    .contact-item .name-card {
        font-size: 17px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .contact-item .time-card {
        font-size: 15px;
    }

    .contact-item .ultimo-mensaje {
        font-size: 12px;
    }

    .options-container-contacto {
        display: flex;
        justify-content: end;
        margin-right: 5px;

    }
}


@media screen and (min-width:500px) and (max-width:600px) {
    .contacto {
        width: 97%;
    }

    .contact-item {
        height: 70px;
    }

    .contact-item .img {
        width: 30px;
        height: 30px;
    }

    .contact-item .name-card {
        font-size: 17px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .contact-item .time-card {
        font-size: 15px;
    }

    .contact-item .ultimo-mensaje {
        font-size: 12px;
    }

    .options-container-contacto {
        display: flex;
        justify-content: end;
        margin-right: 30px;

    }
}


@media screen and (min-width:400px) and (max-width:500px) {
    .contacto {
        width: 90%;
        margin-left: 10px;
    }

    .contact-item {
        height: 70px;
    }

    .contact-item .img {
        width: 30px;
        height: 30px;
    }

    .contact-item .name-card {
        font-size: 17px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .contact-item .time-card {
        font-size: 15px;
    }

    .contact-item .ultimo-mensaje {
        font-size: 12px;
    }
}

@media screen and (min-width:280px) and (max-width:400px) {
    .contacto {
        width: 90%;
    }

    .contact-item {
        height: 50px;
    }

    .contact-item .img {
        width: 30px;
        height: 30px;
    }

    .contact-item .name-card {
        font-size: 15px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .contact-item .time {
        font-size: 10px;
    }

    .contact-item .ultimo-mensaje {
        font-size: 12px;
    }

}