@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


.recovery-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    box-shadow: inset 0 0 0 4000px rgba(0, 0, 0, 0.723);
    background-image: url('/imagenes/background.jpg');
}

.recovery-form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    max-width: 500px;
    margin: auto;
}

.recovery-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'Barlow Condensed', sans-serif;
    color: rgb(21, 105, 87);
}

.form-group {
    width: 100%;
    text-align: left;
}

.recovery-label {
    display: block;
    margin-bottom: 0.5rem;
}

.recovery-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;

}

.recovery-button {
    width: 100%;
    padding: 0.75rem;
    background: rgb(0, 168, 132);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.login-button:hover,
.recovery-button:hover {
    background: #3add79;
    color: rgb(51, 50, 50);
}

.error {
    color: red;
    margin-top: 1rem;
}

.forgot-password-link,
.register-link {
    display: block;
    margin-top: 1rem;
    color: #4facfe;
    text-decoration: underline;
}

.forgot-password-link:hover,
.register-link:hover {
    text-decoration: none;
}