.nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #3d4045;
    color: white;
    padding: 20px 10px;

    width: 50%;

    position: fixed;
    top: 0;
    left: 0;

}

.profile-picture {
    width: 40px;
    height: 35px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #1CBB4A;
}

.profile-picture-large {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid #1CBB4A;

}

.user-menu {
    display: none;
    /* Asegúrate de que esto no esté sobrescrito por otra regla */
    position: absolute;
    top: 50px;
    /* Ajusta según sea necesario */
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.user-menu.open {
    display: block;
    /* Asegúrate de que esta regla se esté aplicando cuando el estado isOpen sea true */
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.user-name {
    margin: 5px 0 0 0;
    font-size: 18px;
    font-weight: bold;
}

.user-email {
    margin: 0;
    font-size: 14px;
    color: #888;
}

.menu-options {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.menu-option {
    display: flex;
    align-items: center;
    padding: 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-option:hover {
    background-color: #f0f0f0;
}

.menu-icon {
    margin-right: 10px;
    font-size: 16px;
}

.nav-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}

.nav-icon {
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
}

.access-nav-icons:hover {
    color: #1CBB4A;
}

.access-nav-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.user-menu-modal {
    position: absolute;
    top: 60px;
    /* Ajusta según el tamaño de la imagen de perfil */
    right: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    z-index: 1000;
    /* Asegúrate de que el modal esté por encima de otros elementos */
    display: none;
    /* Asegúrate de que no se vea por defecto */
}

.user-menu-modal.open {
    display: block;
    /* Esto debería ser cambiado en función del estado `isOpen` */
}



/* Estilos para las opciones del menú */
.menu-options {
    margin-top: 10px;
}

.menu-option {
    padding: 8px;
    cursor: pointer;
}

.menu-option:hover {
    background-color: #f0f0f0;
}

.menu-icon {
    margin-right: 8px;
}


@media screen and (min-width:1020px) and (max-width: 2000px) {
    .nav-bar {
        height: 100%;
        width: 50px;
    }

    .nav-icons,
    .access-nav-icons {
        gap: 2px;
        margin-bottom: 30px;
    }
}

@media screen and (min-width:700px) and (max-width: 1020px) {
    .nav-bar {
        height: 100%;
        width: 50px;
    }

    .nav-icons,
    .access-nav-icons {
        gap: 2px;
        margin-bottom: 30px;
    }
}

@media screen and (min-width:600px) and (max-width: 700px) {

    .nav-bar {
        height: 100%;
        width: 40px;
    }

    .nav-icons,
    .access-nav-icons {
        gap: 2px;
        margin-bottom: 30px;
    }

    .user-menu.open {
        margin-left: -9px;

    }
}

@media screen and (min-width:400px) and (max-width: 600px) {
    .nav-bar {
        height: 100%;
        width: 40px;
    }

    .nav-icons,
    .access-nav-icons {
        gap: 2px;
        margin-bottom: 30px;
    }

    .user-menu.open {
        margin-left: -9px;

    }
}

@media screen and (min-width:280px) and (max-width: 400px) {
    .nav-bar {
        height: 100%;
        width: 40px;
    }

    .nav-icons,
    .access-nav-icons {
        gap: 2px;
        margin-bottom: 30px;
    }

    .user-menu.open {
        margin-left: -9px;
        margin-top: -20px;
    }

    .profile-picture {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 3px solid #1CBB4A;
        cursor: pointer;
        margin-top: -5px;
    }
}