.contact-screens {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.separador {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin-left: 50px;
}

@media screen and (min-width:280px) and (max-width:400px) {
  .contact-screens {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

  }

  .separador {
    width: 100%;
    height: 1px;
    background-color: #ccc;
  }
}