.indicaiton-login-content {
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: justify;
}

.indication-title {
    font-weight: bold;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 30px;
    color: rgb(21, 105, 87);
}

.indication-subtitle {
    margin-top: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

.indication-instructions {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
}

.indication-instructions li {
    margin-bottom: 10px;
}

.help-link {
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: underline;
    cursor: pointer;
}

.help-link:hover {
    text-decoration: none;
}

.desktop-image {
    width: 250px;
    height: 150px;
    margin-left: 40px;
}


@media screen and (min-width: 1081px) and (max-width: 1200px) {
    .indicaiton-login-content {
        padding: 0.5rem;
    }

    .indication-title {
        font-size: 1.5rem;
    }

    .indication-subtitle {
        font-size: 15px;
    }

    .indication-instructions {
        font-size: 1rem;
    }

}

@media screen and (min-width: 720px) and (max-width: 1080px) {
    .indicaiton-login-content {
        padding: 0.5rem;
    }

    .indication-title {
        font-size: 1.5rem;
    }

    .indication-subtitle {
        font-size: 15px;
    }

    .indication-instructions {
        font-size: 1rem;
    }

    .desktop-image {
        width: 200px;
        height: 100px;
        margin-left: 25px;
    }

}

@media screen and (min-width: 601px) and (max-width: 720px) {
    .indicaiton-login-content {
        padding: 0.5rem;
    }

    .indication-title {
        font-size: 1.5rem;
    }

    .indication-subtitle {
        font-size: 15px;
    }

    .indication-instructions {
        font-size: 1rem;
    }

    .desktop-image {
        display: none;
    }
}

@media screen and (min-width: 500px) and (max-width: 600px) {
    .indicaiton-login-content {
        padding: 0.5rem;
    }

    .indication-title {
        font-size: 1.5rem;
    }

    .indication-subtitle {
        font-size: 15px;
    }

    .indication-instructions {
        font-size: 15px;
    }

    .desktop-image {
        display: none;
    }
}

@media screen and (min-width: 401px) and (max-width: 500px) {
    .indicaiton-login-content {
        padding: 0.5rem;
    }

    .indication-title {
        font-size: 1.5rem;
    }

    .indication-subtitle {
        font-size: 15px;
    }

    .indication-instructions {
        font-size: 15px;
    }

    .desktop-image {
        display: none;
    }
}

@media screen and (min-width:280px) and (max-width: 400px) {
    .indicaiton-login-content {
        width: 100%;
    }

    .indication-title {
        font-size: 1.5rem;
    }

    .indication-subtitle {
        font-size: 15px;

    }

    .indication-instructions {
        font-size: 15px;

    }

    .desktop-image {
        display: none;
    }
}